TestClient/Service References/MagisterService/MagisterBattleService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MagisterBattleService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/Magister/MagisterBattleService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/Magister/MagisterBattleService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/Magister/MagisterBattleService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BattleLib" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMagisterBattle_LogIn_InputMessage">
    <wsdl:part name="parameters" element="tns:LogIn" />
  </wsdl:message>
  <wsdl:message name="IMagisterBattle_LogIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogInResponse" />
  </wsdl:message>
  <wsdl:message name="IMagisterBattle_GetBattleState_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBattleState" />
  </wsdl:message>
  <wsdl:message name="IMagisterBattle_GetBattleState_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBattleStateResponse" />
  </wsdl:message>
  <wsdl:message name="IMagisterBattle_StartBattle_InputMessage">
    <wsdl:part name="parameters" element="tns:StartBattle" />
  </wsdl:message>
  <wsdl:message name="IMagisterBattle_StartBattle_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartBattleResponse" />
  </wsdl:message>
  <wsdl:message name="IMagisterBattle_TakeTurn_InputMessage">
    <wsdl:part name="parameters" element="tns:TakeTurn" />
  </wsdl:message>
  <wsdl:message name="IMagisterBattle_TakeTurn_OutputMessage">
    <wsdl:part name="parameters" element="tns:TakeTurnResponse" />
  </wsdl:message>
  <wsdl:portType name="IMagisterBattle">
    <wsdl:operation name="LogIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IMagisterBattle/LogIn" message="tns:IMagisterBattle_LogIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMagisterBattle/LogInResponse" message="tns:IMagisterBattle_LogIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBattleState">
      <wsdl:input wsaw:Action="http://tempuri.org/IMagisterBattle/GetBattleState" message="tns:IMagisterBattle_GetBattleState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMagisterBattle/GetBattleStateResponse" message="tns:IMagisterBattle_GetBattleState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartBattle">
      <wsdl:input wsaw:Action="http://tempuri.org/IMagisterBattle/StartBattle" message="tns:IMagisterBattle_StartBattle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMagisterBattle/StartBattleResponse" message="tns:IMagisterBattle_StartBattle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TakeTurn">
      <wsdl:input wsaw:Action="http://tempuri.org/IMagisterBattle/TakeTurn" message="tns:IMagisterBattle_TakeTurn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMagisterBattle/TakeTurnResponse" message="tns:IMagisterBattle_TakeTurn_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMagisterBattle" type="tns:IMagisterBattle">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogIn">
      <soap:operation soapAction="http://tempuri.org/IMagisterBattle/LogIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBattleState">
      <soap:operation soapAction="http://tempuri.org/IMagisterBattle/GetBattleState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartBattle">
      <soap:operation soapAction="http://tempuri.org/IMagisterBattle/StartBattle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TakeTurn">
      <soap:operation soapAction="http://tempuri.org/IMagisterBattle/TakeTurn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MagisterBattleService">
    <wsdl:port name="BasicHttpBinding_IMagisterBattle" binding="tns:BasicHttpBinding_IMagisterBattle">
      <soap:address location="http://localhost/Magister/MagisterBattleService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>