TestClient/Service References/MagisterService/MagisterBattleService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BattleLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BattleLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Battle">
    <xs:sequence>
      <xs:element minOccurs="0" name="BattleID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Player1ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Player1Team" nillable="true" type="tns:Unit" />
      <xs:element minOccurs="0" name="Player2ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Player2Team" nillable="true" type="tns:Unit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Battle" nillable="true" type="tns:Battle" />
  <xs:complexType name="Unit">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alive" type="xs:boolean" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Skills" nillable="true" type="tns:ArrayOfBattleSkill" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Unit" nillable="true" type="tns:Unit" />
  <xs:complexType name="ArrayOfBattleSkill">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BattleSkill" nillable="true" type="tns:BattleSkill" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBattleSkill" nillable="true" type="tns:ArrayOfBattleSkill" />
  <xs:complexType name="BattleSkill">
    <xs:sequence>
      <xs:element minOccurs="0" name="SkillName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BattleSkill" nillable="true" type="tns:BattleSkill" />
  <xs:complexType name="RoundAction">
    <xs:sequence>
      <xs:element minOccurs="0" name="SkillIndex" type="xs:int" />
      <xs:element minOccurs="0" name="Target" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoundAction" nillable="true" type="tns:RoundAction" />
</xs:schema>