TestClient/Service References/MagisterService/MagisterBattleService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Magister/MagisterBattleService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BattleLib" />
  <xs:element name="LogIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogInResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBattleState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="battleID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBattleStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BattleLib" minOccurs="0" name="GetBattleStateResult" nillable="true" type="q1:Battle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartBattle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartBattleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StartBattleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TakeTurn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BattleLib" minOccurs="0" name="Turn" nillable="true" type="q2:RoundAction" />
        <xs:element minOccurs="0" name="UserKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BattleKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TakeTurnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TakeTurnResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>